@import "./color";
@import "./global";
.search {
  // z-index: ;
  width: 100%;
  height: 45vh;
  background-image: url("~@/assets/pattern-bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 7rem;

  h2 {
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: $white;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  .search_box {
    height: 2.8rem;
    width: min(500px, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 100%;
      height: 100%;
      border: none;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      font-size: 15px;
      padding-left: 1rem;
      outline: none;
    }
    button {
      height: 100%;
      width: 3.5rem;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      border: none;
      background: $very_Dark_Gray;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.555);
      }
    }
  }
}
.map_container {
  position: relative;
  width: 100%;

  #mymap {
    height: 360px;
    @include mobile {
      height: 600px;
    }
  }
}
